{% extends "layout.html" %}
{% block body %}
<script>
    function submitFunc(event){
        var gameID = $('#gameID').val();
        $.post( "/ajax/boardgamesCounter", {gameID:gameID})
              .done(function(data) {
                alert( data);
              })
              .fail(function() {
                alert( "error" );
              })
              .always(function() {
                alert( "finished" );
              });
        return false
    }
    $( "#gameIDForm" ).submit(submitFunc);
</script>
<h1> Welcome To The UNSW Boardgames & RPG Society</h1>
<h2> Please Type In The Games ID</h2>
<form id="gameIDForm">
    <input id="gameID" type="text" name="gameID">
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"  tabindex="-1" />
</form>
{% endblock %}